.input-radio {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.input-radio-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.label-radio {
  line-height: 100px;
}

.register-redirect {
  margin-top: 23px;
  text-align: center;
}

.register-redirect .to-register {
  cursor: pointer;
}