.input-box {
  width: 239px;
  height: 45px;
  border-bottom: 1px solid #E3E3E3;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-column {
  all: unset;
  width: 200px;
}

.input-column::-webkit-input-placeholder { /* Edge */
  color: #969696;
}

.input-column:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #969696;
}

.input-column::placeholder {
  color: #969696;
}
