.bg-halaman-utama-trashpicker {
  background-image: url('../assets/menu-trash-icon-bg.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.button-status-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}